/.bake/
/out/
/dist/
/build/
/libbake/out/
/libbake/build/
/bake/.bake/
/bake/out/
/bake/build/
/external/llvm-build/
/.codegraph/
/__cmake_systeminformation/
/zig_native_cpp.o
/external/llvm-install/
/external/llvm-install-aarch64-linux-musl/
/external/llvm-install-x86_64-windows-gnu/
/external/zlib-build/
/external/zlib-install/
/external/zstd-build/
/external/zstd-install/
compile_commands.json
/.cache/
/.superpowers/
.DS_Store
.tmp/
.idea
/cmake-build-debug/
/.docker-home/
.local:
