/.bake/
/out/
/build/
/libbake/.bake/
/libbake/out/
/libbake/build/
/bake/.bake/
/bake/out/
/bake/build/
/external/llvm-build/
/.codegraph/
/__cmake_systeminformation/
/zig_native_cpp.o
/external/llvm-install/
/external/zlib-build/
/external/zlib-install/
/external/zstd-build/
/external/zstd-install/
compile_commands.json
